<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Custom RPC - Made by tycrek
		style: include stylesheet.css
		script.
			const COLOURS = {
				error: '#F44336',
				success: '#4CAF50'
			};

			function setRPC() {
				let topline = document.getElementById('topline').value.trim();
				let bottomline = document.getElementById('bottomline').value.trim();
				let status = document.getElementById('status');

				status.style.opacity = 1.0;

				if ((topline.length < 2 && topline.length !== 0) || (bottomline.length < 2 && bottomline.length !== 0)) {
					status.style.color = COLOURS.error;
					status.innerHTML = 'Must be 2+ characters or empty';
					status.innerHTML = 'Can\'t be a single character!';
					doFadeOut();
					return;
				}

				if (topline === '') topline = '~~USE_EMPTY~~';
				if (bottomline === '') bottomline = '~~USE_EMPTY~~';

				fetch(`http://localhost:14374/setrpc/${btoa(topline)}/${btoa(bottomline)}`)
					.then((res) => res.json())
					.then((json) => {
						status.style.color = COLOURS[json.success ? 'success' : 'error'];
						status.innerHTML = json.message;

						doFadeOut();
					})
					.catch((err) => alert(err));

				function doFadeOut() {
					setTimeout(() => {
							var fadeOut = setInterval(() => {
								status.style.opacity -= 0.01;
								if (status.style.opacity < 0) clearInterval(fadeOut);
							}, 10);
						}, 1000);
				}
			}
	body: center
		h2 Custom RPC
		table#rpc-table
			tr
				td.line Top line:
				td: input(type='text' id='topline')
			tr
				td.line Bottom line:
				td: input(type='text' id='bottomline')
			tr.button-status
				td: button#set-rpc-button(onclick='setRPC()') Set RPC
				td: span#status &nbsp;
		each asset in assets
			img(src=asset)
